body {
  font-family: "Roboto Condensed", sans-serif;
}
.img-container {
  display: flex;
  height: 300px;
  width: 300px; 
  border:1px solid red;
  border-radius: 100%;
  padding: 20px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 100%;
  margin: auto;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  width: 400px;
  padding: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
button {
  margin: 0 5px;
  flex-basis: 25%;
  width: 100%;
}
